.div-b-sucursal{
  margin: 4px;
}

.div-c-sucursal{
  margin: 4px;
}
.formulariodiv-a {
    width: 80%;
    border: solid 0.6px grey;
    margin: 6px 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
  }
  .bgClaro {
    /*width: 80%;*/
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
    border: solid black 0.6px;
  }