.div-a-carro{
  display: flex;
  flex-direction: row;
}
.div-a-pedido{
  margin: 4px;
  width: 20%;
}
.div-a-carro p{
  margin: 4px 0px;
}
.div-b-carro{
  margin: 4px;
  width: 20%;
}
.div-background{
  background-color: #EBEBEB;
}